h1 {
  margin-top: 2rem;
}

/* take-next-step starts */

.take-next-step p {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.take-next-step {
  background-color: #2A007A;
  margin-top: -2px;
  background-image: url(../images/Home\ page\ Patttern-01.svg);
  background-size: cover;
  position: relative;
}

.secure-seat {
  margin-top: 4rem;
}

.secure-seat {
  color: #2a007a !important;
  background-color: #fff !important;
}

.take-next-step::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20rem;
  /* z-index: -1; */
  /* background: #2A007A; */
  background-image: url(../images/logo-new.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 74%;
}

@media(min-width:768px) {
  .phn-view {
    display: none;
  }
}

@media(max-width:767px) {
  .phn-view {
    display: block;
  }
  .take-next-step::before {
    background-image: none;
  }
}

.overview {
  background-color: #2a007a;
  padding: 12rem 0;
}

.banner-heading {
  padding: 15rem 0;
}

.pad-top-8 {
  padding-top: 12rem;
}

.unlock-transform {
  color: #161616;
}

.unlock-transform-wrapper {
  background-color: #ba5613;
}

span {
  font-family: "Raleway", sans-serif;
  color: #ffff;
  font-weight: 700;
}

/* buttons */

button {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  border: none;
  padding: 15px 30px;
  font-size: 2rem !important;
  background-color: #ffffff;
}

.join-us {
  color: #ba5613 !important;
}

.register {
  color: #2a007a;
  margin-top: 4rem;
}

/* ends */

/* Unlock the TRANSFORMATION */

.unlock-transformation span {
  color: #4d6570;
  font-size: 2.3rem;
}

.unlock-transformation h3 {
  margin-top: 3rem;
}

.unlock-transform-wrapper {
  /* width: 45rem; */
  padding: 10rem 4rem;
  margin: 1px;
  /* height: 600px; */
}

.white-arrow {
  padding-top: 4rem;
}

.unlock-transform-wrapper.middle {
  background-color: #2a007a;
  margin-top: 17%;
}

@media (max-width: 767px) {
  .unlock-transform-wrapper.middle {
    margin-top: 2rem;
  }
  .unlock-transform-wrapper {
    margin-top: 2rem;
  }
}

@media (max-width: 325px) {
  .unlock-transform {
    font-size: x-large;
  }
}

/* Unlock the TRANSFORMATION ends */

/* we-create-impact-starts*/

.we-create-impact::after {
  content: "";
  background-image: url(../images/people-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: -103px;
  left: 0;
  bottom: 65px;
  right: 0;
  z-index: -1;
  position: absolute;
  background-position: center;
}

.we-create-impact-wrappper {
  width: 54rem;
  background: #BA5613 no-repeat padding-box;
  padding: 26rem 50px 40px 30px;
  /* margin-top: 50%; */
}

.we-create-impact {
  position: relative;
  margin-top: 24rem;
}

@media (min-width: 768px) {
  .mobile-view-impact {
    display: none;
  }
}

@media (max-width: 767px) {
  .we-create-impact::after {
    content: "";
    background: #BA5613 no-repeat padding-box;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
  }
  .we-create-impact-wrappper {
    width: auto;
    background: none;
    padding: 0;
    margin-top: 50%;
    margin-bottom: 15%;
  }
  .mobile-view-impact {
    display: block;
  }
  .desk-top-view {
    display: none;
  }
  .we-create-impact {
    background-image: url(../images/people-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 12rem;
    z-index: -1;
  }
}

@media (max-width:767px)and (min-width:665px) {
  .we-create-impact-wrappper {
    margin-top: 58%;
    margin-bottom: 15%;
  }
}

/* we-create-impact ends */

/* sub-section starts */

.sub-section {
  display: flex;
}

.content {
  background-color: #f1eff9;
  padding: 10rem 1rem 10rem 3rem;
  width: -webkit-fill-available;
}

.devops h3, .aws h3, .devops p, .aws p {
  color: #fff;
}

.devops, .aws {
  background-color: #ba5613;
}

.sre h3, .cloud h3, .sre p, .cloud p {
  color: #fff;
}

.sre, .cloud {
  background-color: #2a007a;
}

/* 
@media (max-width:767px) and (min-width:500px) {
  .aws {
    background-color: #ba5613;
    width: 46%;
  }
  .sre.org {
    width: 42%;
  }
  .devops, .sre {
    width: 49%;
  }
} */

.upper-boxes {
  padding-bottom: 5rem;
}

.four-cards {
  width: 50%;
  object-fit: cover;
}

.left-boxes {
  padding-right: 2.5rem;
}

.right-boxes {
  padding-left: 2.5rem;
}

.four-card-section {
  padding-top: 10rem;
}

.last-box {
  padding-bottom: 12rem;
}

/* @media (max-width: 900px) {
  .four-cards {
    width: 50%;
  }
  .content {
    padding: 10rem 1rem 3rem 3rem;
  }
} */

@media (max-width: 767px) {
  .left-boxes {
    padding-right: 0;
    padding-bottom: 5rem;
    /* width: max-content;
    max-width: fit-content; */
  }
  .right-boxes {
    padding-left: 0;
    /* width: max-content;
    max-width: fit-content; */
  }
  .content {
    padding: 10rem 1rem 10rem 3rem;
    width: 50%;
  }
}

@media(max-width:330px) {
  .content {
    padding: 10rem 1rem 10rem 2rem;
    width: 50%;
  }
}

/* sub-section ends */

/* why-join-with-us starts */

.why-join-with-us {
  background: #2A007A;
  padding-bottom: 10rem;
}

.topic-heading {
  color: #fff;
  font-size: 5rem;
}

.sub-heading {
  /* color: #4d6570 !important; */
}

.why-join-with-us h2 {
  color: #fff;
}

/* ends */

/* upcoming-events starts */

.upcoming-events h2 {
  color: #161616;
}

/* .overlap-img {
  max-width: 110% !important;
} */

.upcoming-events span {
  color: #4d6570;
  font-size: 2.3rem;
}

.upcoming-events-wrapper {
  background-color: #ba5613;
  padding: 10rem 7rem;
  margin-top: 24%;
  margin-left: -23%;
  margin-bottom: 8rem;
}

.animation-element.fade-up.in-view {
  transform: translateY(0px);
  opacity: 1;
}

.upcoming-events-wrapper.middle-element {
  margin-left: 0;
  margin-right: -23%;
  background-color: #2A007A;
}

.middle-element-img {
  z-index: -1;
  position: absolute;
}

@media (max-width: 767px) {
  .upcoming-events-wrapper {
    margin: 0 0 5rem 0;
  }
  .upcoming-events-wrapper.middle-element {
    margin: 0 0 5rem 0;
  }
  .middle-element-img {
    z-index: auto;
    position: relative;
  }
  .drop-para {
    padding-bottom: 9rem;
  }
  /* .reverse {
    flex-direction: column-reverse !important;
  } */
  .overlap-img {
    max-width: 100% !important;
  }
}

@media(min-width:768px) {
  .reverse {
    flex-direction: row-reverse !important;
  }
}

/* ends */

/* Reasons to join Chandigarh.Ai starts */

.join-us-wrapper.left {
  background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box, url(../images/Image-4.png);
  opacity: 1;
  background-repeat: no-repeat;
  padding-top: 31rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-size: cover;
}

.left-botttom {
  background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box, url(../images/Image-6.png);
  opacity: 1;
  background-repeat: no-repeat;
  padding-top: 44rem;
  padding-bottom: 2rem;
  margin-top: 18rem;
  background-size: cover;
  margin-right: 4rem;
  padding-left: 2rem;
}

.join-us-wrapper.right {
  background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box, url(../images/Image-5.png);
  opacity: 1;
  background-repeat: no-repeat;
  padding-top: 44rem;
  padding-bottom: 2rem;
  margin-top: -7rem;
  margin-left: 4rem;
  padding-left: 2rem;
}

.join-us-wrapper.right-botttom {
  background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box, url(../images/Image-7.png);
  opacity: 1;
  background-repeat: no-repeat;
  padding-top: 33rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-size: cover;
}

/* phn */

.join-us-wrapper.left-phn {
  background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box, url(../images/Image-phn.png);
  opacity: 1;
  background-repeat: no-repeat;
  padding-top: 31rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-size: cover;
}

.left-botttom-phn {
  background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box, url(../images/Image-1-phn.png);
  opacity: 1;
  background-repeat: no-repeat;
  padding-top: 37rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
  padding-left: 2rem;
  background-size: cover;
}

.join-us-wrapper.right-phn {
  background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box, url(../images/Image-2-phn.png);
  opacity: 1;
  background-repeat: no-repeat;
  padding-top: 40rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
  background-size: cover;
  padding-left: 2rem;
}

.join-us-wrapper.right-botttom-phn {
  background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box, url(../images/Image-3-phn.png);
  opacity: 1;
  background-repeat: no-repeat;
  padding-top: 33rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  margin-top: 5rem;
  background-size: cover;
}

.background-img-phn {
  z-index: -1;
  position: absolute;
  margin-left: 24%;
  margin-top: -11%;
}

@media(max-width:1171px)and (min-width:1025px) {
  .center-img {
    height: 605px;
  }
}

@media(max-width:917px)and (min-width:768px) {
  .center-img {
    height: 474px;
  }
}

@media (max-width:420px) {
  .background-img-phn {
    margin-left: 18%;
  }
}

/* end */

.background-img {
  position: absolute;
  width: 157%;
  height: 177%;
  margin-top: 33%;
  margin-left: -17%;
  z-index: -1;
}

@media (min-width: 768px) {
  .phone-view {
    display: none;
  }
  .desktop-view {
    display: block;
  }
}

@media (max-width: 767px) {
  .phone-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
}

/* .js-scroll.scrolled {
  opacity: 1;
} */

/* .js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
} */

.scrolled.fade-in {
  animation: fade-in 0.5s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 0.5s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 0.5s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 0.5s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* @keyframes fade-in {
  0% {
   
  }
  100% {

  }
}

/* accordian code */

button.accordion {
  background-color: #2A007A;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 3rem !important;
  transition: 0.4s;
  display: contents;
}

button.accordion.active, button.accordion:hover {
  background-color: #2A007A;
}

button.accordion:after {
  content: '\003C';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  transform: rotate( 270deg);
}

button.accordion.active:after {
  content: "\003E";
}

div.panel {
  margin: 2rem 0;
  padding: 0 7rem;
  background-color: #2A007A;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.drop {
  width: 5rem;
  margin-right: 2rem;
}

.online-event {
  font-size: 2.5rem;
}

.date {
  font-size: 2.3rem;
}

.modal_form h3 {
  line-height: 5rem;
  font-size: 3.2rem;
  font-weight: 900;
}

#url {
  color: #4a5078;
}

#url, #score {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.errors.has-error {
  color: #dc3545;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
}

.errors {
  display: none;
}

@keyframes fade-up {
  from {
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    opacity: 1;
  }
}

.invite-modal-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
}

.invite-modal::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
  background-color: #1034FE;
}

.invite-modal {
  background: white;
  padding: 50px 40px 72px 40px;
  border-radius: 3px;
  animation: .3s fade-up;
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin-top: 3.5%;
}

.invite-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  place-items: center;
  background: rgb(0, 0, 0, 0.6);
  z-index: 10000;
}

.close-btn-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.close-btn-wrapper button.close-btn {
  font-size: 40px !important;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin-right: 700px;
  margin-top: 20px;
}

.modal_container {
  display: flex;
  align-items: center;
}

.modal_form {
  width: 60%;
  margin-left: 30px;
  margin-top: 50px;
}

.modal_img {
  width: 40%;
}

.modal_img img {
  width: 80%;
  margin-left: 50px;
}

.modal_form h3 {
  width: 60%;
}

.modal_form input {
  appearance: none;
  -webkit-appearance: none;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #13132226;
  border: 2px solid transparent;
  outline: none;
  background-color: #fff;
  padding: 20px;
}

.invite-modal-wrapper input:focus {
  border: 2px solid #2d1d0b;
  ;
}

input.has-error {
  border: 2px solid #dc3545 !important;
}

.form-group {
  width: 100%;
}

.form-group label {
  display: inline-block;
  margin: 0 2px 6px;
  font-weight: 700;
  font-size: 1.4rem;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.req {
  color: #dc3545;
  margin-left: 5px;
}

#url, #email, #score, .name_label_align {
  width: 80%;
}

.name_label_align {
  display: flex;
}

#score {
  background-color: #2d1d0b;
  color: #fff;
}

.error_text {
  display: block;
  width: 80%;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .invite-modal {
    padding: 50px 30px 52px 30px;
    max-width: 900px;
    margin-top: 10.5%;
  }
  .modal_img img {
    width: 90%;
    margin-left: 20px;
  }
  .slider-heading.ai {
    width: 92%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .invite-modal {
    padding: 20px 20px 42px 20px;
    max-width: 700px;
    margin-top: 15.5%;
  }
  .modal_form h3 {
    width: 100%;
  }
  .modal_form input {
    padding: 15px;
  }
  .modal_img img {
    width: 100%;
    margin-left: 10px;
  }
  .slider-heading.cncf {
    padding-bottom: 5rem;
  }
}

@media (max-width: 480px) {
  .modal_form h3 {
    font-size: 28px;
    line-height: 35px;
  }
  .invite-modal {
    padding: 8rem 2rem;
    max-width: 300px;
    margin-top: 20.5%;
  }
  .modal_img {
    display: none;
  }
  .modal_form h3 {
    width: 100%;
  }
  .modal_form {
    width: 100%;
    margin: 50px 20px;
  }
  #url, #email, #score, .name_label_align {
    width: 95%;
  }
  .modal_form input {
    padding: 10px;
  }
}